printing statement

In [2]:
print ("Hello")

Hello

Basic math operations

In [6]:
print( 10 + 5)
print (10 - 5)
print (10 * 5)
print (10/5)
print ((10+5)* 2)

15
5
50
2.0
30

Variables

In [19]:
age = 25
name = "sunny"
salary = 2500

print("age :" , age,) 
print (name, salary)

age : 25
sunny 2500

Data Types

In [30]:
age = 25
number = 10.5
name = "Sunny"
Pass = True
Fail = False
print (age,number,name,Pass,Fail)
print (type(age))
print(type(name))

25 10.5 Sunny True False
<class 'int'>
<class 'str'>

Strings

string are immutable cant be changed
Each character i string has position indexing

In [52]:
text = "PYTHON"
#indexing
print (text[0])
print (text[3])

#string length
print(len(text))

#common string functions
text1 = ("Python Programming")
print(text1.upper())
print(text1.lower())
print(text1.title())
print(text1.replace("Python","java"))

#String concatenation
first = "Hello"
second = "World"
print ( first + " " + second)


my_name = "Sunny"
print(my_name[0])
print(len(my_name))
print(my_name.upper())

P
H
6
PYTHON PROGRAMMING
python programming
Python Programming
java Programming
Hello World
S
5
SUNNY

Lists

In [72]:
#creating lits
numbers = [10, 20, 30, 40,]
names = [ "A" , "B" , "C"]
print (numbers, names)
print (numbers + names)

#indexing
print (numbers[0])

#Modify list values
numbers[1] = 25
print(numbers)

#adding elements
numbers.append(50)
print (numbers)

#remove elements
numbers.remove(50)
print(numbers)

#length of string
print(len(numbers))

#list with mixed data
data = [1, "python", 3.5 , True]
print(data)

numbers1 = [ 1, 2, 3, 4, 5]
print(numbers1)

first_name = [ "S", "U", "N", "N", "Y"]
last_name = [ "R", "E", "D", "D", "Y"]
full_name = (first_name + last_name)
print (full_name)

first_name.append(1)
print(first_name)

first_name.remove(1)
print(first_name)

[10, 20, 30, 40] ['A', 'B', 'C']
[10, 20, 30, 40, 'A', 'B', 'C']
10
[10, 25, 30, 40]
[10, 25, 30, 40, 50]
[10, 25, 30, 40]
4
[1, 'python', 3.5, True]
[1, 2, 3, 4, 5]
['S', 'U', 'N', 'N', 'Y', 'R', 'E', 'D', 'D', 'Y']
['S', 'U', 'N', 'N', 'Y', 1]
['S', 'U', 'N', 'N', 'Y']

Tuples
tuple are immutable cant be changed

In [76]:
names = ("Sunny" ," Bunny" , "Arown")
numbers = ( 10, 20, 30)
print(names)
print(numbers)

#indexing acess tuple elements
print(names[0])

numbers[0] =  50
print(numbers)
#error because tubles can't be changed

('Sunny', ' Bunny', 'Arown')
(10, 20, 30)
Sunny

TypeError: 'tuple' object does not support item assignment

In [ ]:
Sets 
sets are mutable , removes duplicates

In [86]:
numbers = { 1, 2, 3, 4, 5}
print(numbers)


numbers.add(6)
print(numbers)

numbers.remove(1)
print(numbers)

print ( 3 in numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
True

Dictionary

keys and values

In [96]:
student = { "name": "John",
           "age": 21,
           "course": "Python"
          }
print(student)

#access values useing keys
print(student["name"])


customer = { "name" : "SAM",
             "age" : "22",
             "product": "mac"}


print(customer["name"])

customer["price"]  = "750$"
print(customer)

{'name': 'John', 'age': 21, 'course': 'Python'}
John
SAM
{'name': 'SAM', 'age': '22', 'product': 'mac', 'price': '750$'}

if ,elif, esle

In [8]:
#if statement
age = 20
if age >= 18:
    print("You are Eligible")
    
#else
marks = 45
if marks >= 50:
    print("Pass")
else:
    print("Fail")

#elif
score = 75

if score >= 90:
    print("Grade A")
elif score >= 60:
    print("Grade B")
else:
    print("Grade C")

You are Eligible
Fail
Grade B