# Session 1: Python Basics, Variables, Data Types

# Python Basics Notes

A complete introduction to Python fundamentals including types, variables, operators, strings, loops, lists, range, break, continue, and user input.

Python is a high level, dynamically typed, multiparadigm language with very readable syntax.

In [1]:
print('hello bro')

hello bro

## Printing numbers

In [6]:
print(123)
#Numbers can be printed directly without quotes.

123

# Fundamental Types
Python provides several built in data types including integers, floats, booleans, strings and complex numbers.

In [1]:
# Integer examples
a = 9
b = 3
print(a + b)

# Error fixed using type conversion
a = 7
print("text " + str(a))

12
text 7

In [2]:
# Float examples
x = 1.345
y = 1.234
z = x + y
print(z)
type(z)

2.5789999999999997

float

In [3]:
# Boolean examples
b1 = True
b2 = False
print(type(b2))

<class 'bool'>

In [4]:
# String examples
name1 = "my name is joey's tribiani"
print(name1)

str_ = "ruchik"
str_

my name is joey's tribiani

'ruchik'

In [5]:
# Complex numbers
j = 1.0 - 2.0j
print(j)
print(j.real, j.imag)

(1-2j)
1.0 -2.0

# Variables and Dynamic Typing
Variables in Python are created through assignment.  
Python does not require declaring types.  
The same variable can hold values of different types.

In [6]:
tenth = 10
tenth = 15
tenth

15

In [7]:
ten = 10
print(type(ten))

ten = "ten"
print(type(ten))

<class 'int'>
<class 'str'>

In [8]:
# Strong typing example
print("str" + str(1))

str1

# Operators in Python

In [9]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

13
7
30
3.3333333333333335
1
1000
3

In [10]:
a = 5
b = 7
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

In [11]:
x = True
y = False
print(x and y)
print(x or y)
print(not y)

False
True
True

# Input and String Formatting
Python takes input as string by default.  
We can use f strings and the format() method for substitution.

In [12]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name:  sunny

Hello sunny

In [13]:
language = "python"
subject = "xyhy"
print("I love {}, my subject is {}".format(language, subject))

I love python, my subject is xyhy

# Branching (if, elif, else)

In [14]:
i = 15

if i < 3:
    print("less than 3")
elif i < 5:
    print("less than 5")
elif i < 12:
    print("i am stupid")
else:
    print("5 or more")

5 or more

# Lists and Iteration
Lists store ordered and mutable data.

In [15]:
l1 = ["dsad", "b", "c"]
l2 = ["a", 6, 4.0]
l1 + l2

# Convert string to list
list("jkdfgkdgj")

['j', 'k', 'd', 'f', 'g', 'k', 'd', 'g', 'j']

In [16]:
# Iterating through a list
l = list("abcd")
for fg in l:
    print(fg)

a
b
c
d

# For Loop Examples

In [17]:
numbers = [1,2,3,4,5,6,7,8,9,10]
summ = 0

for i in numbers:
    summ += i

print(summ)

55

In [18]:
# Reverse a string
s = "chandler"
x = ""
for i in range(len(s)):
    x = s[i] + x
print(x)

reldnahc

In [19]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# range() Function
Generates a sequence of numbers.

In [20]:
print(list(range(1,6)))
print(list(range(8, -1, -2)))
print(list(range(2, 25, 5)))

[1, 2, 3, 4, 5]
[8, 6, 4, 2, 0]
[2, 7, 12, 17, 22]

# break and continue

In [24]:
# break example
for val in "string":
    if val == "r":
        break
    print(val)
print("The end")

s
t
The end

In [25]:
# continue example
for val in "string":
    if val == "r":
        continue
    print(val)
print("The end")

s
t
i
n
g
The end

# User Input Examples

In [26]:
name = input("What is your name? ")
age = input("What is your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name?  sunny
What is your age?  26

Hey, you are already 26 years old, sunny!

In [27]:
x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [28]:
name = "joey"

while True:
    user_input = input("enter your name: ")
    if user_input == name:
        print("name matched, breaking")
        break
    else:
        print("name didn't match... keep entering names")

enter your name:  sunny

name didn't match... keep entering names

enter your name:  joey

name matched, breaking